* {
  margin: 0;
}
html,
body {
  font-size: 18px;
  font-family: sans-serif;
  color: #222;
}
.container {
  max-width: 1200px;
  margin: 30px auto;
  background: #f1f1f1;
  padding: 30px;
}
h1 {
  text-align: center;
  margin-bottom: 40px;
}
.slider {
  border: 2px solid black;
  width: 100%;
  max-width: 80%;
  height: 300px;
  margin: 20px auto;
  overflow: hidden;
}
.slider-line {
  width: 1024px;
  display: flex;
  background: orange;
  position: relative;
  left: 0;
  transition: all ease 1s;
}